@model StudentManagement.Models.Course

<h2>Add Course</h2>

<form asp-action="Create">

    <div class="mb-3">
        <label>Course Name</label>
        <input asp-for="CourseName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Duration</label>
        <input asp-for="Duration" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Fees</label>
        <input asp-for="Fees" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Department</label>

        <select asp-for="DepartmentId"
                asp-items="ViewBag.Departments"
                class="form-control">
        </select>

    </div>

    <button class="btn btn-success">Save</button>

</form>