@model StudentManagement.Models.User

<h2>Register</h2>

<form asp-action="Register" method="post">

    <div class="mb-3">
        <label>Full Name</label>
        <input asp-for="FullName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Password</label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Role</label>

        <select asp-for="Role" class="form-control">
            <option value="Student">Student</option>
            <option value="Teacher">Teacher</option>
        </select>

    </div>

    <button class="btn btn-primary">Register</button>

</form>

<a asp-action="Login">Already have account? Login</a>