@model one2one.Models.Student

<h2>Add Student</h2>

<form method="post">
    Name: <input asp-for="Name" /><br />
    City: <input asp-for="City" /><br />
    Room Number: <input name="roomNumber" /><br />

    <button type="submit">Save</button>
</form>