<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-zinc-900">
    <h1 class="text-white text-center text-3xl">Welcome </h1>
    <form method="post" action="/create" class="text-white text-center flex flex-col items-center">
        <input  type="text" placeholder="Enter Name" name="name" class="bg-gray-800 outline-none text-white rounded-xl p-4 m-5 w-[400px]"/>
        <input type="email" placeholder="Enter email" name="email" class="bg-gray-800 outline-none text-white rounded-xl p-4 m-5 w-[400px]"/>
        <input type="text" placeholder="Enter password" name="password" class="bg-gray-800 outline-none text-white rounded-xl p-4 m-5 w-[400px]"/>
        <button class="bg-blue-400  rounded m-5 p-1" >Submit</button>
    </form>
</body>
</html>