@model StudentManagement.Models.Department

<h3>Are you sure you want to delete this?</h3>

<p>@Model.DepartmentName</p>

<form asp-action="Delete">

    <input type="hidden" asp-for="DepartmentId" />

    <button class="btn btn-danger">Delete</button>

    <a asp-action="Index" class="btn btn-secondary">Cancel</a>

</form>