@model StudentManagement.Models.Department

<h2>Edit Department</h2>

<form asp-action="Edit">

    <input type="hidden" asp-for="DepartmentId" />

    <div class="mb-3">
        <label>Name</label>
        <input asp-for="DepartmentName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Description</label>
<textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <button class="btn btn-primary">Update</button>

</form>