@model IEnumerable<StudentManagement.Models.Department>

<h2>Departments</h2>

<a asp-action="Create" class="btn btn-primary">Add Department</a>

<table class="table table-bordered mt-3">

    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>

    @foreach (var d in Model)
    {
        <tr>

            <td>@d.DepartmentName</td>
            <td>@d.Description</td>

            <td>

                <a asp-action="Edit" asp-route-id="@d.DepartmentId" class="btn btn-warning">
                    Edit
                </a>

                <a asp-action="Delete" asp-route-id="@d.DepartmentId" class="btn btn-danger">
                    Delete
                </a>

            </td>

        </tr>
    }

</table>