<h2>Teacher Dashboard</h2>

<div class="list-group">

    <a asp-controller="Department"
       asp-action="Index"
       class="list-group-item list-group-item-action">

        Manage Departments

    </a>

    <a asp-controller="Course"
       asp-action="Index"
       class="list-group-item list-group-item-action">

        Manage Courses

    </a>

    <a asp-controller="Student"
       asp-action="Index"
       class="list-group-item list-group-item-action">

        Manage Students

    </a>

</div>