@model IEnumerable<mvc.Models.Student>

@{
    ViewData["Title"] = "Students";
}

<h1>Student List</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Course</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Age</td>
                <td>@student.Course</td>
            </tr>
        }
    </tbody>
</table>
