@model StudentManagement.ViewModels.StudentProfileViewModel

<h2>Student Profile</h2>

<form asp-action="Profile">

    <input type="hidden" asp-for="StudentId" />

    <div class="mb-3">
        <label>Name</label>
        <input asp-for="StudentName" class="form-control" readonly />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" readonly />
    </div>

    <div class="mb-3">
        <label>Phone</label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Address</label>
<textarea asp-for="Address" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label>Department</label>
        <input asp-for="DepartmentName" class="form-control" readonly />
    </div>

    <div class="mb-3">
        <label>Course</label>
        <input asp-for="CourseName" class="form-control" readonly />
    </div>

    <div class="mb-3">
        <label>Duration</label>
        <input asp-for="CourseDuration" class="form-control" readonly />
    </div>

    <div class="mb-3">
        <label>Fees</label>
        <input asp-for="CourseFees" class="form-control" readonly />
    </div>

    <button class="btn btn-success">
        Update Profile
    </button>

</form>